.appshell-base {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: row;
  height: 100%;
}

calcite-panel:not([dismissed]) {
  min-width: 350px;
}
calcite-panel[dismissed] {
  min-width: 0;
  display: none;
}
 
calcite-action-bar {
  // position: fixed;
  height: 100%;
}
// calcite-action-bar:first-child {
//   left: 0;
// }
// calcite-action-bar:last-child {
//   right: 0;
// }

#viewDiv {
  width:100%;
  height:100%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

::part(content) {
  width: 350px;

}
.header {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}
calcite-panel.maximized::part(content) {
  width: 100%;
  max-width: 100%;
}
calcite-panel.maximized{
  position: fixed;
  left: 0;
  right: 48px;
  bottom: 0;
  top: 52.84px;
  z-index: 100;
  width: auto;
  min-width: auto;

}

calcite-panel.maximized calcite-tab-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 48px);
}

calcite-action-bar {
  overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
  calcite-action-bar:first-child {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  
  calcite-action.maximize {
    display: none !important;
  }
  calcite-panel:not([dismissed]) {
    position: fixed;
    left: 0;
    right: 48px;
    bottom: 0;
    top: 52.84px;
    z-index: 100;
    width: auto;
    min-width: auto;

}
calcite-action-bar:last-child {
  z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 52.84px;
}
calcite-tab-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 48px);
}


#viewDiv {
  position: fixed;
  left: 0;
  right: 48px;
  bottom: 0;
  top: 52.84px;
  width: auto;
z-index: 99;
}
}
h3 {
  margin: 5px 0 5px 0;
}



@media only screen and (max-height: 450px) {

  .header {
    display: none;
  }
}
