.locationsearch-base {
  padding: 0;
}

.esri-search {
  width: 100% !important;
  border-bottom-color: rgb(234, 234, 234) !important;;
  border-bottom-style: solid !important;;
  border-bottom-width: 1px !important;;  
} 