:root {
  --blue: #0079c1;
  --gray: #efefef;
  --white: #fff;
}

@import '~@arcgis/core/assets/esri/themes/light/main.css';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--gray);
  font-family: Avenir Next W01,Avenir Next W00,Avenir Next,Avenir,Helvetica Neue,sans-serif;
}

.header {
  background-color: var(--blue);
  color: var(--white);
}

.heading {
  padding-left: 0.75rem;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* map view */
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

input, select { font-size: 16px !important;}
.esri-search {
  font-size: 16px !important;
}

.esri-search {
  width: 100% !important;
  border-bottom-color: rgb(234, 234, 234);
  border-bottom-style: solid;
  border-bottom-width: 1px;  
  position: sticky;
  top: 0;
  z-index: 100;
} 
.esri-search__warning-menu {
  display: none;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

calcite-panel {
  min-height: 100%;
}
calcite-panel::part(container) {
  height: 100%;
}

calcite-panel::part(container):focus {
  outline: none;

}

calcite-panel::part(container):focus {
  outline: none;
}


calcite-action.active::part(actionicon) {
  color:var(--blue);
}

.dark ::part(content) {
  background-color: #353535;
  color: white;
}


.dark ::part(cell) {
  background-color: #353535;
  border-color: rgba(173, 173, 173, 0.3);
  color: rgb(209, 209, 209);
}

.dark ::part(checkbox) {
  background-color: rgb(209, 209, 209);
}

.dark ::part(indicators)::before {
  opacity: .8;
}

.dark vaadin-grid{
  background-color: rgb(36, 36, 36);
}



.dark .esri-grid__grid {
  background-color: rgb(36, 36, 36);
}

.esri-feature__content-element {
  padding: 0 7px 10px !important;
}

.esri-basemap-gallery {
  height: calc(100% - 52.84px)

}


calcite-tip-manager {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0;

  margin: 1em;
  max-width: 100%;
  z-index: 1000;
}  

.esri-search--show-suggestions .esri-search__suggestions-menu, .esri-search--sources .esri-search__sources-menu {
  max-height: 70vh !important;
}

@media only screen and (max-width: 500px) {
  ::part(content) {
    width: calc(100% - 48px);
  
  }

}

